{% extends "base.html" %}
{% block title %} Hola {% endblock %}
{% block content %}
<h1 class="title">Hola</h1>

<div class="block">
    <form action="/hola" method="POST">
        <div class="field">
            <label class="label">Nombre</label>
            <div class="control">
                <input class="input" type="text" placeholder="Nombre" name="nombre">
            </div>
        </div>
        <div class="control">
            <button class="button is-link">Hola</button>
        </div>
    </form>

</div>

<h2 class="subtitle">Hola {{ nombre }}!</h2>
{% endblock %}